.container {
  background-color: #2C302E;
  height: 100vh;
  padding: 1rem;

  .title {
    color: white;
  }

  .databases {
    margin-top: 1rem;

    .database {
      background-color: #909590;
      color: white;

      border-radius: 2px;

      height: 100px;

      &:hover {
        background-color: #AEB1AE;
      }
    }
  }


  .database-log {
    height: auto;
    color: white;

    overflow-y: scroll;

    .log-item {
      .error-log {
        border: #A7222D solid 2px;
        border-radius: 2px;
        color: #2E0A0D;
        background-color: #E79BA1;
        padding: 4px;
      }
      .success-log {
        border: #403F4C solid 2px;
        border-radius: 2px;
        color: #121215;
        background-color: #A8A7AD;
        padding: 4px;
      }
      .log-header {
        font-size: 20px;
      }
    }
  }
}
