<section fxLayout="column" fxLayoutGap="8px">
  <mat-toolbar>
    Kapuna MaData
  </mat-toolbar>

  <div class="documents">
    <ng-container *ngFor="let document of (databaseService.patientCollection?.documenten$ | async).rows">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{document.doc.first_name + ' ' + document.doc.last_name}}
          </mat-panel-title>
          <mat-panel-description>
            Patient Document
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre>{{document.doc | json}}</pre>

      </mat-expansion-panel>
    </mat-accordion>
    </ng-container>
  </div>
</section>
