<section fxLayout="column" fxLayoutGap="8px">
  <mat-toolbar class="database-toolbar">
    Kapuna MaData
    <span class="collection-name">{{selectedCollection.name}}</span>

    <div fxFlex class="fill-remaining-space"></div>

    <button mat-flat-button color="primary" fxFlex="120px" [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
      <mat-icon svgIcon="database"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item fxLayoutAlign="space-between center" (click)="selectCollection('log')">
        <span>Log</span>
        <div fxFlex class="fill-remaining-space"></div>
        <mat-icon class="no-margin" svgIcon="collection"></mat-icon>
      </button>
      <button mat-menu-item fxLayoutAlign="space-between center" (click)="selectCollection('patient')">
        <span>Patient</span>
        <div fxFlex class="fill-remaining-space"></div>
        <mat-icon class="no-margin" svgIcon="collection"></mat-icon>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="add-entry">
    <button mat-button fxFlex (click)="openDialog('', 'add')">Add new entry</button>
  </div>

  <div class="documents">
    <ng-container *ngFor="let document of (selectedCollection?.documenten$ | async)?.rows">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header [ngClass]="{'error-message-header': document.doc.type === 'error'}">
            <mat-panel-title fxFlex="50%">
              <ng-container *ngIf="selectedCollection.name === 'patientCollection'">
                {{document.doc.first_name + ' ' + document.doc.last_name}}
              </ng-container>

              <ng-container *ngIf="selectedCollection.name === 'log'">
                <ng-container *ngIf="document.doc.type === 'success'; else error">
                  {{document.doc.mutation + ' ' + document.doc.database}}
                </ng-container>
                <ng-template #error>
                  {{document.doc.message.status + ' ' + document.doc.message.name}}
                </ng-template>
              </ng-container>

            </mat-panel-title>
            <mat-panel-description>
              <ng-container *ngIf="selectedCollection.name === 'log'; else collectionName">
                >>timestamp<<
              </ng-container>
              <ng-template #collectionName>
                {{selectedCollection.name}} Document
              </ng-template>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div fxLayout="column">

            <button mat-flat-button color="accent" (click)="openDialog(document.doc, 'edit')"
                    *ngIf="selectedCollection.name !=='log'">Edit document
            </button>

            <pre>{{document.doc | json}}</pre>


          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
</section>
